@using Frota.Application.Enumerators
@model Frota.Application.ViewModels.VeiculoModel

@{
    ViewData["Title"] = "Adicionar ou Alterar Veículo";
}

<div class="book-example panel panel-primary">
    <div class="panel-heading panel-head">Adicionar / Editar Veículo</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <form asp-action="SaveOrEdit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Chassi" class="control-label"></label>

                        @if (Model.ID == 0)
                        {
                            <input asp-for="Chassi" class="form-control" />
                        }
                        else
                        {
                            <input asp-for="Chassi" class="form-control" readonly="readonly" />
                        }

                        <span asp-validation-for="Chassi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tipo" class="control-label"></label>
                        @if (Model.ID == 0)
                        {
                            <select asp-for="Tipo" class="form-control" asp-items="Html.GetEnumSelectList<TipoVeiculo>()">
                                <option selected="selected" value="">Selecione</option>
                            </select>
                        }
                        else
                        {
                            <br />
                            <b><i> @Html.DisplayFor(model => model.Tipo)</i></b>
                            <input type="hidden" asp-for="Tipo" />

                        }
                        <span asp-validation-for="Tipo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NumeroPassageiro" class="control-label"></label>
                        <input asp-for="NumeroPassageiro" class="form-control" readonly="readonly" />
                        <span asp-validation-for="NumeroPassageiro" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cor" class="control-label"></label>
                        <input asp-for="Cor" class="form-control" />
                        <span asp-validation-for="Cor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="text-right">
                            <a asp-action="Index" class="btn btn-danger">
                                <span class="glyphicon glyphicon-triangle-left"></span> Voltar
                            </a>                            
                            <button type="submit" value="Pesquisar" class="btn btn-success">
                                <span class="glyphicon glyphicon-floppy-open"></span> Salvar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {


    <script>
        $(document).ready(function () {
            $('#Tipo').on('change', function () {
                //alert(this.value);
                //debugger;
                switch (this.value) {
                    case "1":
                        $("#NumeroPassageiro").val("2");
                        break;
                    case "2":
                        $("#NumeroPassageiro").val("42");
                        break;
                    default:
                        $("#NumeroPassageiro").val("0");
                        break;
                }
            });
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
